<nav class="navbar navbar-dark bg-dark" *ngIf="authService.isAuthenticated()">

  <div class="container-fluid">

    <a class="navbar-brand">
      Lynx Storage Store
    </a>

    <button class="cart-btn" title="Carrinho de compras" (click)="toggleCart()" *ngIf="authService.hasRole('CLIENT')">

      <i class="cart-emoji">🛒</i>

      <span *ngIf="itemsCount > 0"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ itemsCount }}
      </span>
    </button>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto d-flex flex-row">

        <!-- OPERADOR -->
        <li id="nav-tabs" class="nav-item me-3" *ngIf="authService.hasRole('OPERATOR')">
          <a class="nav-link active" routerLink="/products" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" style="color: white;">
            Produtos
          </a>
        </li>

        <li id="nav-tabs" class="nav-item me-3" *ngIf="authService.hasRole('OPERATOR')">
          <a class="nav-link active" routerLink="/products/new" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" style="color: white;">
            Cadastro de Produtos
          </a>
        </li>

        <!-- CLIENTE -->
        <li id="nav-tabs" class="nav-item me-3" *ngIf="authService.hasRole('CLIENT')">
          <a class="nav-link active" routerLink="/client" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" style="color: white;">
            Nossos Produtos
          </a>
        </li>

        <li id="nav-tabs" class="nav-item me-3" *ngIf="authService.hasRole('CLIENT')">
          <a class="nav-link active" routerLink="/orders" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" style="color: white;">
            Meus Pedidos
          </a>
        </li>

      </ul>

      <div class="nav-user-info">
        <span *ngIf="authService.hasRole('OPERATOR')">
          <img src="assets/images/carteira-de-identidade.png" class="rounded-circle" width="32" height="32" />
        </span>

        <span *ngIf="authService.hasRole('CLIENT')">
          <img src="assets/images/cliente.png" class="rounded-circle" width="32" height="32" />
        </span>

        <span class="navbar-text text-light me-2" style="margin-left: 8px ;" *ngIf="authService.hasRole('OPERATOR')">
          {{ authService.getUser()?.name }}
        </span>

        <span class="navbar-text text-light me-2" style="margin-left: 8px ;" *ngIf="authService.hasRole('CLIENT')">
          {{ authService.getUser()?.name }}
        </span>

        <button class="btn btn-outline-danger btn-sm" (click)="logout()" style="margin-left: 12px ;">
          Sair
        </button>
      </div>





    </div>
  </div>
</nav>

<app-cart-modal *ngIf="showCart" (closed)="toggleCart()"></app-cart-modal>
