#nav-products:hover {
    font-size: large;
    font-weight: bold;
}


#nav-products a.active {
    color: white;
    font-size: large;
    font-weight: bold;
}

#nav-products-register:hover{
    font-size: large;
    font-weight: bold;
}

#nav-products-register a.active {
    color: white;
    font-size: large;
    font-weight: bold;
}

.nav-user-info {
    display: flex;
    align-items: center;
    padding-top: 12px;
}