<div class="modal-overlay" (click)="close()"></div>

<div class="modal-container">
    <div class="modal-content" *ngIf="order; else loading" (click)="$event.stopPropagation()">

        <h3>Pedido #{{ order.id }}</h3>

        <ul>
            <li *ngFor="let item of order.items">
                {{ item.productName }} — <a style="font-weight: bold">{{ item.quantity }}x (R$ {{ item.unitPriceCents /
                    100 | number:'1.2-2' }})</a>
            </li>
        </ul>

        <p><strong>Total:</strong> {{ order.totalCents / 100 | currency:'BRL' }}</p>

        <div *ngIf="order.status === 'NEW'">
            <label>Método de pagamento</label>

            <select [(ngModel)]="selectedMethod" style="margin-left: 12px;border-radius: 12px;">
                <option value="PIX">PIX</option>
                <option value="CREDIT_CARD">Cartão</option>
                <option value="BOLETO">Boleto</option>
            </select>

            <div class="actions">
                <button class="btn btn-primary" (click)="pay()">Pagar</button>
                <button class="btn btn-outline-danger" (click)="cancelOrder()">Cancelar</button>
            </div>
        </div>

        <div *ngIf="order.status === 'PAID'">
            <p><i class="bi bi-check2-circle" style="font-size: 22px; color: green"></i> Pedido pago</p>
        </div>

        <button class="btn btn-secondary mt-3" (click)="close()">Fechar</button>

    </div>

    <ng-template #loading>
        <p>Carregando detalhes do pedido...</p>
    </ng-template>
</div>