.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w-100{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
  display: flex;
  gap: 40px;
}

.card {
  width: 280px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.1);
}

.card:hover{
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.2);
}

.login-logo img{
    transition: transform 0.5s, filter 0.5s;
    background-color: transparent;
}

.login-logo img:hover{
    transform: rotate(20deg);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
}

input {
  padding: 8px;
}

button {
  padding: 10px;
  cursor: pointer;
}
